.socials-list {
  display: flex;
  margin-top: 64px;
}

.socials-list__link {
  @include font(500, 14px, 1.22, 0.02em, center);
  color: var(--accent-color);

  @include mob {
    @include font(500, 18px, 1.22, 0.02em, center);
  }
}

.socials-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px ridge rgba(33, 33, 33, 0.2);
}

.socials-list__item:not(:first-child) {
  padding-left: 10px;
}

// .socials-list__item:not(:last-child)::after {
//   content: '';
//   width: 22px;
//   border: 1px outset rgba(33, 33, 33, 0.2);
//   margin-right: 10px;
//   margin-left: 10px;
// }
