.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: var(--primary-text-color);
  @include font(bold, 20px, 1.17, null, center);
  margin-bottom: 30px;

  @include mob {
    @include font(bold, 28px, 1.17, null, center);
  }

  @include tab {
    @include font(bold, 30px, 1.17, null, center);
  }

  @include desk {
    @include font(bold, 50px, 1.17, null, center);
    margin-bottom: 50px;
  }
}
